@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.main-conatiner {
  font-family: "Montserrat", sans-serif;
}
.progress-bar {
  height: 10vh;
  width: 100%;
  position: fixed;
  padding: 0 2rem;
  top: 0;
  margin-top: 75px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}
.level-container {
  margin-top: calc(10vh + 69px);
  position: relative;
  .level-1 {
    height: 100%;
    border-radius: 1rem;
  }
  .level-2 {
    height: 100%;
    border-radius: 2px solid rgb(172, 170, 170);

    // background-color: rgb(55, 88, 88);
  }
  .level-3 {
    min-height: 100vh;
    border-radius: 2px solid rgb(172, 170, 170);

    // background-color: red;
  }
}

.level-label {
  width: 100%;
  height: 100%;
  border: 2px solid #86868b;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  z-index: 1000;
}
.active {
  background-color: rgb(231, 239, 241);
  color: rgb(74, 67, 67);
  border: 2px solid #0071e3;
  border-radius: 1rem;
}
