.typewriter-container {
  margin-top: 69px;
  width: 100vw;
  height: 200px;
  background-color: rgb(0, 0, 0, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter-inner-container {
  font-size: 2rem;
}
