$media-desktop-min-1200: "only screen and (min-width : 1200px)";
$media-desktop-1200-1450: "only screen and (max-width : 1450px) and (min-width: 1200px)";
$media-desktop-1000-1200: "only screen and (max-width : 1200px) and (min-width: 1000px)";
$media-tablet-768-1000: "only screen and (max-width : 1000px) and (min-width : 768px)";
$media-tablet-670-768: "only screen and (max-width : 768px) and (min-width : 670px)";
$media-mobile-480-670: "only screen and (max-width : 670px) and (min-width: 480px)";
$media-mobile-480: "only screen and (max-width : 480px)";
