@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "../../components/utils/scss/variables.scss";

.bigcard {
  display: flex;
}

// section component css
#about-us {
  // min-height: 100vh;
  max-width: 100%;
  padding: 0.5rem 0.9rem;
  // margin-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .more-info-heading {
    font-size: 1.8rem;
    .whoNeedsthis {
      color: #86868b;
    }
  }
  .more-info-parent-card {
    background-color: #f5f5f7;
    padding: 0 0;
    .ant-card-body {
      padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
    .parent-flex-1-container {
      .ant-card-body {
        padding: 0;
      }
      .content-outer-div {
        width: 100%;
        flex: 2;
        .content-inner-div {
          display: flex;
          flex-direction: column;
          align-items: center;

          .info-text-para,
          .info-text-span {
            // font-family: "Montserrat", sans-serif;
            font-size: 1.2rem;
          }
        }
      }
      .card-common-div {
        height: "100%";
        position: "relative";
        flex: 1;
        .ant-card:hover {
          border: 2px solid #0071e3;
        }

        .card {
          border-radius: 1rem;
          border: 2p solid blue !important;
          // min-width: 240px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .card-cover-conatiner {
            .eyeIcon-Wrapper {
              position: absolute;
              bottom: 0px;
              justify-content: center;
              width: 100%;
              .eyeIcon {
                width: 0;
              }
            }
            p {
              // display: none;
              // width: 0;
              height: 0;
              transition: all 0.3s ease-in-out;
              opacity: 0;
              margin-bottom: 1rem;
            }

            .licence-options-heading {
              font-size: 1.7rem;
              line-height: 1.1;
              font-weight: 500;
              letter-spacing: 0;
              color: #86868b;
              padding: 2rem 0;
            }
          }
        }
        .card:hover {
          background-color: white;
          .card-cover-conatiner {
            .eyeIcon {
              width: 100%;
              transition: ease-in-out 0.3s;
              margin-bottom: 30px;
            }
            p {
              height: 100%;
              opacity: 1;
            }
          }
        }
      }
      .extra-info-div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 50px;
        .extra-info-para {
          max-width: 70%;
          margin: auto auto;
        }
      }
    }
  }
}

@media #{$media-mobile-480-670} {
  .parent-flex-1-container {
    padding: 0 1rem;
  }
  .card-cover-conatiner {
    padding: 0 1rem;
  }
}
@media #{$media-mobile-480} {
  .parent-flex-1-container {
    padding: 0 0.3rem;
    gap: 0.8rem;
  }
  .card-cover-conatiner {
    padding: 0rem 1rem;
    p {
      display: none;
    }
  }
}

@media #{$media-desktop-min-1200} {
  .parent-flex-1-container {
    padding: 2rem;
  }
  .card-cover-conatiner {
    padding: 0rem 1rem;
  }
}

@media #{$media-desktop-1000-1200} {
  .parent-flex-1-container {
    padding: 2rem;
  }
  .card-cover-conatiner {
    padding: 0rem 1rem;
  }
}

@media #{$media-tablet-768-1000} {
  .parent-flex-1-container {
    padding: 2rem;
  }
  .card-cover-conatiner {
    padding: 0rem 1rem;
  }
}

@media #{$media-tablet-670-768} {
  .parent-flex-1-container {
    padding: 2rem;
  }
  .card-cover-conatiner {
    padding: 0rem 1rem;
  }
}

// .more-info-outer-container {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 100%;
//   // height: 100vh;
//   // background-color: rgb(255, 255, 255);
// }

// .more-info-left-side {
//   flex: 1.5;
//   position: relative;
//   // margin-top: 69px;
//   height: 100%;
//   width: 100%;
//   z-index: 1000;
//   display: flex;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   font-family: "Roboto", sans-serif !important;
//   legend {
//     font-family: "Roboto", sans-serif;
//     font-weight: 900;
//     font-style: normal;
//   }
//   .more-info-ol-list-item {
//     padding: 1rem;
//   }
//   .ordered-list {
//     width: 70%;
//     font-size: 1 rem;
//   }
//   .info-para {
//     width: 70%;
//     font-size: 1.2rem;
//   }
// }
// .more-info-right-side {
//   flex: 1;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-direction: column;
//   height: 100%;
//   image {
//     object-fit: cover;
//   }
// }

// .more-info-inner-container {
//   // margin-top: calc(100vh + 100px);
//   position: relative;
//   // margin-top: 69px;
//   z-index: 1000;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   legend {
//     font-family: "Roboto", sans-serif;
//     font-weight: 900;
//     font-style: normal;
//   }
//   .more-info-ol-list-item {
//     padding: 1rem;
//   }
//   .ordered-list {
//     width: 70%;
//     font-size: 1.5rem;
//   }
//   .info-para {
//     width: 70%;
//     font-size: 1.5rem;
//   }
// }
