.warning-course-recommendation {
    .ant-card-body {
      padding: 1rem;
      background-color: #fdcaca;
      border-left: 0.5rem solid red;
      border-radius: 0.6rem;
      font-size: 1.5rem;
      // background-color: ;
    }
  }