.hero-video {
  width: 100%;
  //   height: calc(100vh - 269px);
  object-fit: cover;
  height: 100vh;
  // uncomment for transition effect
  // height: 0px;
  // transition: height 4s ease-in-out;
}
.hero-video-visible {
  //   width: 100%;
  // height: 100vh;
  // margin-top: 69px;
  //   object-fit: cover;
  // transition: max-height 2s ease-in;
}

.video-container {
  position: fixed;
  width: 100vw;
  z-index: -100;
  // background-color:rgba(0, 0, 0, 0.5);
}

.content {
  // background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  // width: 50%;
  padding: 20px;
  font-size: 4rem;
  margin-top: 100px;
}

.video-mask {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

// .dummy-filler-div {
//   height: calc(100vh - 269px);
//   width: 100%;
//   background-color: black;
// }
