@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "../utils/scss/variables.scss";

#footer {
  min-height: 100%;
  position: relative;

  //   border: 2px solid red;
  //   border: 2px solid red;
  .footer-main-container {
    position: relative;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .location-heading {
      font-size: 3rem;
      padding: 1rem 3rem;
      color: black;
      p {
        color: #86868b;
      }
    }
    .footer-flex-1 {
      position: relative;
      min-height: 100%;
      width: 100%;
      display: flex;
      // flex-direction: column;
      justify-content: space-around;
      padding: 5rem 0;
      flex-wrap: wrap;
      .location-list-container {
        // border: 2px solid black;
        table {
          border-collapse: collapse;
          tr {
            td,
            th {
              padding: 1rem 1rem;
              // border: 1px solid #dddddd;
              // text-align: left;
            }
          }
        }
      }
      .map-wrapper-container {
        display: flex;
        justify-content: center;
        .map-container {
          position: relative;
          .NS_map_img {
            object-fit: contain;
          }

          .Dartmouth_pin {
            position: absolute;
            top: 68%;
            left: 46%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .turo_pin {
            position: absolute;
            top: 52%;
            left: 48%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }

          .Bridgewater_pin {
            position: absolute;
            top: 77%;
            left: 30%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .Kentville_pin {
            position: absolute;
            top: 58%;
            left: 32%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .Stellarton_pin {
            position: absolute;
            top: 45%;
            left: 59%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .Middleton_pin {
            position: absolute;
            top: 62%;
            left: 23%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .Antigonish_pin {
            position: absolute;
            top: 43%;
            left: 68%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .Yarmouth_pin {
            position: absolute;
            top: 88%;
            left: 8%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }
          .Sydney_pin {
            position: absolute;
            top: 32%;
            left: 95%;
            transition: all 1s ease-in-out;
            font-size: 1.8rem;
          }

          .pin_common {
            cursor: pointer;
            color: rgb(185, 168, 168);
            font-size: 1.5rem;
          }
        }
      }
    }

    .footer-flex-2 {
      background-color: black;
      min-height: 100%;
      min-width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 2rem 0;
      .footer-flext-1-child-1 {
        .social-item-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 3rem;
          .social-item {
            color: rgb(0, 0, 0);
            cursor: pointer;
            background-color: white;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 2rem;
            .social-icons {
              font-size: 2rem;
            }
          }
        }
      }
      .inquiry-btn {
        height: 20px;
        background-color: white;
      }
      .footer-flext-1-child-2 {
        .footer-credits-container {
          display: flex;
          flex-direction: column;
          font-family: "Montserrat", sans-serif;
          p {
            letter-spacing: 0.2rem;
          }
        }
      }
    }
  }
}

@media #{$media-mobile-480} {
  .logo-footer {
    width: 300px !important;
  }
  #footer {
    .footer-main-container {
      .location-heading {
        font-size: 1.5rem;
        padding: 1rem 0.8rem;
      }
      .footer-flex-1 {
        padding-top: 1rem;
        .location-list-container {
          // border: 2px solid black;
          table {
            border-collapse: collapse;
            tr {
              td,
              th {
                padding: 0.6rem 0.8rem;
                // border: 1px solid #dddddd;
                // text-align: left;
              }
            }
          }
        }
        .typewriter-container-footer {
          display: none !important;
        }
      }
    }
  }
}
